services:
    backend:
        image: guillaumesep/coup_de_main_go_backend:latest
        environment:
            CI: true
            APOLLO_PORT: ${APOLLO_PORT}
            DB_USER: ${DB_USER}
            DB_PASSWORD: ${DB_PASSWORD}
            DB_HOST: ${DB_HOST}
            DB_PORT: ${DB_PORT}
            DB_DATABASE: ${DB_DATABASE}
            JWT_SECRET: ${JWT_SECRET}
        ports:
            - 4001:4000
        volumes:
            - ./backend:/app
            - /app/node_modules
        depends_on:
            - postgres

    frontend:
        image: guillaumesep/coup_de_main_go_frontend:latest
        environment:
            VITE_BACKEND_URL: ${VITE_BACKEND_URL}
            VITE_DOMAIN_BACKEND_URL: ${VITE_DOMAIN_BACKEND_URL}
            VITE_POLL_CHAT_INTERVAL: ${VITE_POLL_CHAT_INTERVAL}
        ports:
            - 5174:5173
        volumes:
            - ./frontend:/webapp
            - /webapp/node_modules
        depends_on:
            - backend

    postgres:
        image: postgres:alpine
        shm_size: 128mb
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: ${DB_DATABASE}
        ports:
            - 5433:5432
        volumes:
            - postgres-data:/var/lib/postgresql/data

    adminer:
        image: adminer
        restart: always
        ports:
            - 8081:8080

    nginx:
        image: nginx:1.21.3
        depends_on:
            - backend
            - frontend
        restart: always
        ports:
            - ${GATEWAY_PORT:-8001}:80
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf
            - ./logs:/var/log/nginx

volumes:
    postgres-data:
