/* Style pour les boutons de pagination */
.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
}

/* Style pour le bouton de pagination actif */
.swiper-pagination-bullet-active {
  background-color: var(--secondary);
}
