#auth {
    position: absolute;
    height: 80vh;
    aspect-ratio: 4 / 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background);
    box-shadow: 3px 3px var(--text-secondary), -3px 0 3px var(--text-primary);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#modal-content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 100%;
}

#modal-content > :first-child {
    grid-column: 1;
}

#modal-content > :last-child {
    grid-column: 2;
}

#modal-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 40%;
    border-radius: 15px;
}

#login,
#register {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: auto;
    padding: 40px 20px 20px 20px;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#login input,
#register input {
    border: none;
    border-radius: 15px;
    font-size: 1.25em;
    padding: 0.75em 1em;
}

#auth-title {
    font-size: 3em;
    margin-left: 20px;
}

#login button,
#register button {
    background-color: var(--secondary);
    border: solid 2px var(--secondary);
    border-radius: 30px;
    color: var(--white);
    font-size: 1.25em;
    margin-right: 20px;
    padding: 0.5em 1em;
    align-self: flex-end;
}

#login button:hover,
#register button:hover {
    background-color: var(--secondary-hover);
}

#login p,
#register p {
    margin-left: 20px;
}

#closeModal {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 50%);
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 1.25em;
}

#closeModal p {
    margin: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#auth-buttons {
    display: flex;
    align-self: flex-end;
}

.auth-inline {
    display: flex;
    justify-content: space-between;
}

.auth-inline > * {
    width: 38%;
}

#auth-buttons > :first-child {
    background-color: transparent;
    color: var(--text-primary);
}

.clickable {
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

#auth-steps {
    margin-left: 20px;
    display: flex;
    gap: 20px;
}

#auth-current-step {
    background-color: var(--tertiary);
    width: 60px;
    height: 10px;
    border-radius: 20px;
}

#auth-other-step {
    background-color: var(--tertiary);
    width: 20px;
    height: 10px;
    border-radius: 20px;
}

#auth-skills {
    width: calc(100%-20px);
    max-height: 100%;
    border-radius: 20px;
    background-color: var(--tertiary);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    overflow-y: scroll;
    list-style: none;
}

#auth-skills li {
    width: calc(50% - 30px);
    background-color: var(--white);
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
}

#auth-skills label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#auth-skill {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#auth-skills label img {
    width: 40px;
    aspect-ratio: 1 / 1;
}

#auth-skills label p {
    margin: 0;
    text-align: center;
}
