:root {
    --primary: #E1D2AE;
    --secondary: #EF930E;
    --secondary-hover: #cc8b3d;
    --tertiary: #949E80;
    --tertiary-hover: #7f8a6f;
    --badge: #FFBF38;
    --badge-hover: #e6a82c;
    --text-primary: #333333;
    --text-secondary: #666666;
    --white: #FFFFFF;
    --background: #EDEAE4;
    --background-darker: #E8EAE3;
  }
  
  body {
    background-color: var(--background);
    color: var(--text-primary);
  }