:root {
  --primary: #e1d2ae;
  --primary-hover: #c9bfa0;
  --secondary: #ef930e;
  --secondary-hover: #cc8b3d;
  --tertiary: #949e80;
  --tertiary-hover: #7f8a6f;
  --badge: #ffbf38;
  --badge-hover: #e6a82c;
  --text-primary: #333333;
  --text-secondary: #666666;
  --white: #ffffff;
  --white-hover: #f2f2f2;
  --background: #edeae4;
  --background-darker: #e8eae3;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}
