name: jest-ci

on: pull_request

jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            - name: Check out code
              uses: actions/checkout@v2
            - name: Install dependencies
              run: npm install
            - name: Install Playwright Browsers
              run: npx playwright install --with-deps
            - name: Run the tests
              run: npm run test
              env:
                  JWT_SECRET: ${{ secrets.JWT_SECRET }}
                  VITE_FRONTEND_URL: ${{ secrets.VITE_FRONTEND_URL }}
            - uses: actions/upload-artifact@v4
              if: ${{ !cancelled() }}
              with:
                name: playwright-report
                path: playwright-report/
                retention-days: 30
