name: jest-ci

on: pull_request

jobs:
  tests:
    runs-on: ubuntu-latest
    container: node:20-bookworm-slim

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Install PostgreSQL client
        run: apt-get update && apt-get install -y postgresql-client

      - name: Wait for PostgreSQL
        run: |
          echo "Waiting for PostgreSQL to be ready..."
          for i in {1..10}; do
            pg_isready -h postgres -U ${{ secrets.POSTGRES_USER }} && break
            echo "PostgreSQL not ready yet... retrying in 5s"
            sleep 5
          done

      - name: Run Project
        run: |
          echo "Starting project..."
          npm run start &
          echo "Waiting for 10 seconds to let the project start..."
          sleep 10
        env:
          DB_HOST: postgres
          DB_USER: ${{ secrets.POSTGRES_USER }}
          DB_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          DB_PORT: 5432
          DB_DATABASE: ${{ secrets.POSTGRES_DB }}

      - name: Move to backend directory
        run: cd backend

      - name: Run Database Seeds
        run: |
          echo "Starting seed..."
          npm run seed &
          echo "Waiting for 10 seconds to let the seed start..."
          sleep 10
        working-directory: backend
        env:
          DB_HOST: postgres
          DB_USER: ${{ secrets.POSTGRES_USER }}
          DB_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          DB_PORT: 5432
          DB_DATABASE: ${{ secrets.POSTGRES_DB }}

      - name: Run the tests
        run: npm run test
        env:
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          VITE_FRONTEND_URL: ${{ secrets.VITE_FRONTEND_URL }}

      - name: Publish screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: frontend/screenshots
