name: jest-ci

on: push

jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            - name: Check out code
              uses: actions/checkout@v2
            - name: Install dependencies
              run: cd backend/ && npm i && cd ../frontend/ npm i
            - name: Run the tests
              run: run tests
              env:
                  JWT_SECRET: ${{ secrets.JWT_SECRET }}
